<div>
    <div class="logotitle logotitle1 alltext">MWMS</div>
    <div class="logotitle logotitle2 alltext" style="margin-top: -15px">Mobile Waterflow Monitoring System</div>
</div>
<div style="margin-top: 60px; text-align: center">
    <div class="alltext">
        USERNAME:
                        <input type="text" id="loginUname" />
    </div>
    <div class="alltext">
        PASSWORD:
                        <input type="password" id="loginPassword" />
    </div>
    <div id="signInBtn" class="btnPrimary" style="margin-top: 15px">
        SIGN IN
    </div>

    <button data-ng-click="showUsers()">SHOW ALL ACTIVE USERS</button>
    <ul>
        <li data-ng-repeat="user in users">
            {{user.userName}} - {{user.clientId}}
        </li>
    </ul>
</div>
